{% extends "global/Base.html" %}
{% load staticfiles %}
{% load otree_tags %}
{% block styles %}
<style type="text/css">
     .custom-border {
        border-color: #d6d8db;
    }
    html, body {
        height: 100%;
    }

</style>
{% endblock %}

{% block content %}
<!--Include hidden field for time spent-->
<input type="hidden" name="sequentialTimeSpent" id="sequentialTimeSpent"/>


<div class="container bg-light border custom-border">
    <br>
    <div id='explain_text'> 
            
        {% if group == 'A' %}
            <p style="padding-left:30px; padding-right:30px"> The annual returns below give you a representative impression of the performance of Asset A and Asset B, respectively.  An annual return is the percentage growth of wealth invested into the asset from the start of the respective year until its end. The annual returns are also representative of how Asset A and Asset B move together.</p>
        {% else %}
            <p style="padding-left:30px; padding-right:30px"> The cumulative returns below give you a representative impression of the performance of Asset A and Asset B, respectively. A cumulative return is the percentage growth of wealth invested into the asset from the start of the ten-year period until the end of the respective year. The cumulative returns are also representative of how Asset A and Asset B move together.</p>
        {% endif %}
    </div> 
    
    <div id='choose_text' style="display:none">

        <p style="padding-left:30px; padding-right:30px">Please answer the questions below regarding the assets.</p>
            
    </div> 

    <!-- The area with the chart and the button. -->

<div id='canvas' style='position: relative; width: 80%; max-width: 1244px; left: 15%;height: 525px; margin: 0 auto; display: block;'>
    <!-- The area for the chart-->
    <ul class="value" id='v' style="position: relative; z-index: -1; left: 50%; top: 50%; transform: translate(-50%, -50%); visibility: hidden;">
        <font size="6"><li id="re1">  </li></font>
    </ul>
    <!-- This is the container for the graph -->
    <div id='contr2' style='width: 100%; height: 100%; position: relative; z-index: 2000;'></div>
</div>




<!--This is the next button -->
<div id="bb1" style='position: relative; left: 35px; top: 0px; right: 0px; padding-bottom: 40px; text-align: center; '>

    <button type="button" class="btn btn-primary" id="updateChartButton" style="position: relative; top: -30px; right: 20px; margin: auto; z-index: 20000;" onclick="updateTimeSpent()">Next</button>
    <!-- <button id="b1" style="position: relative; top: -30px; right: 20px; margin: auto; z-index: 20000; display: none;" class="otree-btn-next btn btn-primary" onclick="updateTimeSpent()" disabled>Next</button>-->

</div>

</div>


<div id="form-area" style="display:none;">
    {{ formfields }}
    {{ next_button }}
</div>
<p>Page {{ page_num }} of {{ total_pages }}</p>
{% endblock %}

{% block scripts %}

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> <!-- for the draggable of the scrollbar -->
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/highcharts-3d.js"></script>
    <script src="//code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="https://blacklabel.github.io/custom_events/js/customEvents.js"></script>

    <script>
        var animationtime = {{animation_time}};
        {% include "design_exp/Bc_one_Graph_20_animation.js" %}
    </script>

    <script>
        let timeSpent = [];
        let startTime = new Date().getTime();

        function updateTimeSpent() {
            let endTime = new Date().getTime();
            let tmpTimeSpent = endTime - startTime;
            timeSpent.push(tmpTimeSpent);
            startTime = endTime;

            document.getElementById('sequentialTimeSpent').value = timeSpent; // Update the hidden field with the time spent
        }

  
    </script>


{% endblock %}
